<ion-header>
  <ion-toolbar color="spotify">
    <ion-buttons slot="start"
      ><ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="musical-notes"></ion-icon> Music App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let ol of listaAlbums"
        [routerLink]="['/albums/', ol._id]"
      >
        <ion-card style="height: 100%">
          <ion-card-header>
            <img [src]="ol.imagen" />
          </ion-card-header>
          <ion-card-content>
            <ion-card-title style="color: white">
              {{ol.nombre}}
            </ion-card-title>
            <h2 style="color: rgb(201, 201, 201); padding-top: 1px">
              {{ol.autor}}
            </h2>
            <div style="padding-top: 1px">
              <h3 style="color: rgb(219, 219, 219)">Lanzamiento:</h3>
              <h3 style="color: rgb(219, 219, 219)">{{ol.lanzamiento}}</h3>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="success"
      [routerLink]="['./insertar-album']"
      type="button"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
