<ion-header>
  <ion-toolbar>
    <ion-title>Edición - {{album.nombre}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="cerrar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <form #albumForm="ngForm" (ngSubmit)="editarAlbum(albumForm)">
      <ion-card>
        <ion-item>
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input
            class="input"
            type="text"
            [(ngModel)]="album.nombre"
            #nombre="ngModel"
            name="nombre"
            clearInput
            value="{{album.nombre}}"
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-label position="floating">URL-Imagen del album</ion-label>
          <ion-textarea
            class="input"
            type="text"
            [(ngModel)]="album.imagen"
            #imagen="ngModel"
            name="imagen"
            clearInput
            value="{{album.imagen}}"
            rows="3"
          ></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-label position="floating">Autor del album</ion-label>
          <ion-input
            class="input"
            type="text"
            [(ngModel)]="album.autor"
            #autor="ngModel"
            name="autor"
            clearInput
            value="{{album.autor}}"
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item button="true" id="open-date-input">
          <ion-row style="width: 100%">
            <ion-col size="8" class="ion-padding-top">
              <ion-label>Fecha de Lanzamiento</ion-label>
            </ion-col>
            <ion-col size="4" class="my-ion-padding-start">
              <ion-input
                value="{{ fecha | date: 'dd-MM-yyyy' }}"
                [ngModel]="album.lanzamiento | date: 'dd-MM-yyyy'"
                #lanzamiento="ngModel"
                name="lanzamiento"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-popover trigger="open-date-input" show-backdrop="false">
            <ng-template>
              <ion-datetime
                presentation="date"
                [(ngModel)]="fecha"
                name="fecha"
                locale="sl-SI"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-card>
      <div style="display: flex; justify-content: center">
        <ion-button type="submit" color="spotify">Actualizar</ion-button>
      </div>
    </form>
  </section>
</ion-content>
