.ion-color-spotify {
  --ion-color-base: #1db954 !important;
  --ion-color-contrast: rgb(255, 255, 255) !important;
}

.ion-color-spotify-black {
  --ion-color-base: #191414 !important;
  --ion-color-contrast: rgb(255, 255, 255) !important;
}
