<ion-header>
  <ion-toolbar color="spotify-black">
    <ion-title>{{artista.nombre}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" slot="end">
      <ion-button color="success" (click)="presentModalEdit()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" slot="end">
      <ion-button color="danger" (click)="eliminarArtista()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img [src]="artista.imagen"> </ion-img>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-card-title style="color: white; font-weight: bold">
                  {{artista.nombre}}
                </ion-card-title>
              </ion-col>
              <ion-col size="6">
                <ion-card-title style="color: white; font-weight: bold">
                  Edad:
                  <ion-label
                    style="
                      font-weight: normal;
                      color: rgba(255, 255, 255, 0.705);
                      padding-left: 5px;
                    "
                  >
                    {{artista.edad}} años
                  </ion-label>
                </ion-card-title>
              </ion-col>
              <ion-col size="6">
                <ion-card-title style="color: white; font-weight: normal">
                  {{artista.seguidores}} seguidores
                </ion-card-title>
              </ion-col>
              <ion-col size="6">
                <ion-card-title style="color: white; font-weight: bold">
                  Nacionalidad:
                  <ion-label
                    style="
                      font-weight: normal;
                      color: rgba(255, 255, 255, 0.705);
                    "
                  >
                    {{artista.nacionalidad}}
                  </ion-label>
                </ion-card-title>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <iframe
                  style="width: 100%"
                  height="400px"
                  frameborder="0"
                  scrolling="no"
                  [src]="artista.video | safe: 'resourceUrl'"
                  title="YouTube video player"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </ion-col>
              <hr />
              <ion-col size="12">
                <ion-card-title style="color: white; font-weight: bold">
                  Reseña:
                </ion-card-title>
                <ion-card-subtitle
                  style="
                    font-weight: normal;
                    color: rgba(255, 255, 255, 0.705);
                    text-align: justify;
                    font-size: 16px;
                    padding-top: 10px;
                  "
                >
                  {{artista.resena}}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <h1 style="font-weight: bold" style="color: white">Álbumes</h1>
              </ion-col>
              <hr />
              <ion-col
                size="6"
                *ngFor="let ol of albums"
                [routerLink]="['/albums/', ol._id]"
              >
                <ion-card
                  style="height: 100%; background-color: rgb(41, 41, 41)"
                >
                  <ion-card-header>
                    <img [src]="ol.imagen" />
                  </ion-card-header>
                  <ion-card-content>
                    <ion-card-title style="color: white">
                      {{ol.nombre}}
                    </ion-card-title>
                    <h2 style="color: rgb(201, 201, 201); padding-top: 1px">
                      {{ol.autor}}
                    </h2>
                    <div style="padding-top: 1px">
                      <h3 style="color: rgb(219, 219, 219)">Lanzamiento:</h3>
                      <h3 style="color: rgb(219, 219, 219)">
                        {{ol.lanzamiento}}
                      </h3>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
